h1 {
    color: #fefefe;
}

.example-viewport {
    height: 100%;
    width: 100%;
}

.example-item {
    height: 50px;
    a {
        min-width: 100%;
        text-align: left;
    }
}

.example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.search-by-type-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-by-type-dropdown {
        max-height: 100px;
    }
    .search-by-type-btn {
        margin-bottom: auto;
    }
}

::ng-deep .mat-form-field-infix {
    border-top: 0 !important;
}

.example-viewport::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 10px;
}

.example-viewport::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
}

.example-viewport::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #fff;
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#5effb1), to(#69f0ae), color-stop(0.6, #60c795));
}
