.main-wrapper {
    margin: 40px auto;
    height: 500px;
    width: 400px;
    h1 {
        color: #FEFEFE;
    }

    .example-viewport {
        height: 100%;
        width: 100%;
    }

    .example-item {
        height: 50px;
        a {
            min-width: 100%;
            text-align: left;
          
        }
    }

    .example-button-row .mat-button-base {
        margin: 8px 8px 8px 0;
    }
}


.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
  }