.details-main--wrapper {
    // box-shadow:
    // 0 2.8px 2.2px rgba(123, 31, 162, 0.034),
    // 0 6.7px 5.3px rgba(123, 31, 162, 0.048),
    // 0 12.5px 10px rgba(123, 31, 162, 0.06),
    // 0 22.3px 17.9px rgba(123, 31, 162, 0.072),
    // 0 41.8px 33.4px rgba(123, 31, 162, 0.086),
    // 0 50px 30px rgba(123, 31, 162, 0.12);
    box-shadow: 0 8px 6px -6px #7b1fa2;
}

.pokemon-name {
    text-align: center;
    background-color: #7b1fa2;
    color: #fefefe;
    padding: 10px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-left: 1px solid #7b1fa2;
    border-right: 1px solid #7b1fa2;
}
.details-wrapper {
    border-bottom: 1px solid #7b1fa2;
    border-left: 1px solid #7b1fa2;
    border-right: 1px solid #7b1fa2;
    // border-: 1px solid #7b1fa2;
    padding: 10px;
    border-radius: 4px;

    .details-board-item {
        margin-bottom: 10px;
        color: #fefefe;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        padding: 15px;
        background-color: #ffffff1f;
    }
    .pokemon-name {
        text-align: center;
        background-color: #7b1fa2;
    }
    .pokemon-images {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            width: 80px;
            height: 80px;
        }
    }
    .pokemon-specs {
        background-color: #ffffff1f;
        span {
            color: #69f0ae;
        }
    }
    .pokemon-types {
        background-color: #ffffff1f;
    }
}

::ng-deep.mat-list-item-content {
    padding: 0 !important;
}
